/*  BODY, GLOBAL  ---------------------------- */
body {
  background-color: #FFF;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3em;
}


/*  HEADER ---------------------------- */
.navbar {
  min-height: 35px !important;
}
.navbar-header {
  width: 100%;
  height: 35px;
  background-color: #010312;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  line-height: 35px;
  }
header {
  background-color: #010312;
  position: absolute;
  top: 0px;
}
header p.header-icons {

  float: right;
  margin-right: 15px;
  height: 30px;
}
header p.header-intro {
  float:  left;
  margin-left: 15px;
  height: 35px;
}

/*  FOOTER ---------------------------- */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  color: #FFF;
  line-height: 35px;
  background-color: #010312;
  
}
footer p {
  display: block;
  vertical-align: top;
  float: right;
  padding-right: 15px;
}

/* STICKY FOOTER ---------------------------- */

html {
  position: relative;
  min-height: 100%;
}
footer {
  position: absolute;
  bottom: 0;
}

/* SECTIONS ---------------------------- */
section {
  background-color: #010312;
  margin-bottom: 20px;
  color: #FFF;
  height: 800px;
  font-family: 'Open Sans', sans-serif;

}
section h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3em;
  line-height: 2.3em;
  text-transform: uppercase;
  color: #FFF;
  text-align:center;
}
/* Font awesome icons */
.fa {
	margin-right:15px;
	color: #fff;

}
.fa:hover {
  color: #42667d;
}

/* INTRO SECTION ---------------------------- */
.intro {
	width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3em;
	position:relative;
	background-image: url('../img/bourdain-default-background.jpg');
  background-repeat: no-repeat;
  background-position:   top center;
  background-size: cover;
  min-height: 900px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#intro.intro {
	padding: 20% 0 0 0;
}
.intro .intro-text {
	text-align: center;
  padding-bottom: 15px;
}
.intro .intro-text h2 {
	color: #FFF;
	font-size: 60px;
	line-height: 60px;
	background-color: rgba(0, 0, 0, 0);
	text-decoration: none;
	text-transform: uppercase;
	border-width: 0px;
	border-color: #000;
	border-style: none;
	text-shadow: -1px 0 1px #000;
}
.intro .intro-text h4 {
	color: #fff;
	text-shadow: -1px 1px 1px #000;
	text-transform: uppercase;
}

/* BUTTON STYLES ---------------------------- */

.page-scroll a.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 20px;
  padding: 7px 0;
  border: 2px solid #fff;
  background-color: #010312;
  opacity: 0.4;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;

}
.page-scroll a.btn-circle i {
display:block;
  margin: 0 auto;
  position: relative;
  top: 3px;
}
.generalButton {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  background-color: #010312;
  padding: 10px 15px;
  transition: .5s ;
  opacity: 0.8;
}
.generalButtonn:hover {
  background-color: rgba(255,255,255,.25);
}
.generalButton:focus {
  outline: none;
}
/* FORM SECTION ---------------------------- */
.form-box {
  background-color: #94aab7;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; /* future proofing */
  -khtml-border-radius: 5px; /* for old Konqueror browsers */
  padding: 40px 20px;
}
#quoteSubmissionForm label {
  font-weight: normal;

}
/* QUOTES SECTION----------------------------*/

#sendMessage
{
  display: none;
  visibility: hidden;
}
#quotes {
 width: inherit100%;
 padding-top: 20px;
 height: 900px;
}
#quotes div {
  width: 60%;
  text-align: left;
  margin: 40px auto 0px auto;

}
#quote-box {
  color: #FFF;
  font-size: 1.1em;
  padding: 15px;
  min-height: 350px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; /* future proofing */
  -khtml-border-radius: 5px; /* for old Konqueror browsers */
  background-color: #94aab7;
  display: table;
  x
}
.quoteElements {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
}
.quoteCopy {
  font-size: 1.8em;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  width: 100%;
  text-align: center;
}
.quoteSource {
  font-size: 1.25rem;;
  letter-spacing: 0.05em;
  line-height: 1.1;
  color: #FFF;
  text-align: right;
  padding: 10px 5px;
  min-width: 160px;
}
.quoteDisclaimer {
  font-size: 0.8em;
}

/* mOBILE STYLES ---------------------------- */


    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) and (max-width : 768px) {
        .quoteCopy {
          font-size: 0.9em;

          color: #FFF;
          top: 0;
        }
        #quote-box {
          height: 180px !important;

        }
        section h2 {
          font-size: 1.1em;
        }

        .navbar {
          max-height: 30px !important;
        }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
